<div class="screen row" *ngIf="!spinner">

  <!--Step 1 Module Select---->
  <ng-container *ngIf="step === 1 && !spinner">
    <h3>Select your Modules</h3>
    <hr>
    <div class="col-5">

      <mat-selection-list [(ngModel)]="selectedJobTemplate" (selectionChange)="moduleSelectionChange()" role="list">
        <mat-list-option *ngFor="let j of allJobTemplates" [value]="j">{{ j.name }}</mat-list-option>
      </mat-selection-list>

      <button class="btn btn-primary w-100">
        Auto Select your Modules from the Repository
      </button>
    </div>
  </ng-container>

  <!--Step 2 Variable Definition---->
  <ng-container *ngIf="step === 2 && !spinner">
    <h3>Variable specification</h3>
    <h5>Please specify all required variables!</h5>
    <hr>
    <div class="row">
      <ng-container class="col-3" *ngFor="let m of inputWorkflow.modules">
        @if(!PersistenceUtils.isNullOrUndefined(m.workflowAttributes) && m.workflowAttributes!.length !== 0){
          <p>{{m.name}} - GH-Action</p>
          <mat-form-field *ngFor="let a of m.workflowAttributes">
            <mat-label>{{a.name}}</mat-label>
            <input matInput [(ngModel)]="a.value" >
          </mat-form-field>
        }
        @if(!PersistenceUtils.isNullOrUndefined(m.dockerComposeAttributes) && m.dockerfileAttributes!.length !== 0){
          <p>{{m.name}} - Docker-File</p>
          <mat-form-field *ngFor="let a of m.dockerfileAttributes">
            <mat-label>{{a.name}}</mat-label>
            <input matInput [(ngModel)]="a.value" >
          </mat-form-field>
        }
        @if(!PersistenceUtils.isNullOrUndefined(m.dockerComposeAttributes) && m.dockerComposeAttributes!.length !== 0){
          <p>{{m.name}} - Docker-Compose</p>
          <mat-form-field *ngFor="let a of m.dockerComposeAttributes">
            <mat-label>{{a.name}}</mat-label>
            <input matInput [(ngModel)]="a.value" >
          </mat-form-field>
        }
      </ng-container>
    </div>
  </ng-container>

  <!--Step 3 Overview---->
  <ng-container *ngIf="step === 3 && !spinner">
    <h3>Overview</h3>
    <h5>Your Settings</h5>
    <hr>
    <p>Your Settings</p>
  </ng-container>


</div>
<div class="spinner-middle" *ngIf="spinner">
  <mat-spinner style="width: 5rem"></mat-spinner>
</div>
<!----------Navigation Buttons---------->
<div class="nxt-btn" *ngIf="(!PersistenceUtils.isNullOrUndefined(ghUser)) && !spinner">
  <div>
    <button mat-raised-button *ngIf="step !== 1" (click)="addSiteStep(-1)">
      Back <i class="fas fa-arrow-left"></i>
    </button>
    <button mat-raised-button *ngIf="step <= 2" [disabled]="!canForwardStep()" (click)="addSiteStep(+1)" style="margin-left: 0.2rem">
      Next <i class="fas fa-arrow-right"></i>
    </button>
    <button mat-raised-button *ngIf="step === 3" (click)="saveWorkflow()" style="margin-left: 0.2rem">
      Save <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</div>
