.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.card-footer {
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
}

.list-group-item {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 8px;
}
